html {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 60px;
    text-align: center;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

html {
    background-color: #00539f;
}

body {
    /* width: 600px; */
    min-height: 600px;
    margin: 0 auto;
    background-color: #f0ece6;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;
}

#media-url-form {
    display: flex;
    width: 80%;
    min-height: 100px;
    margin: 30px auto;
    flex-direction: column;
    /* width: 1800; */
    /* justify-content: center; */
}

#url-group {
    display: flex;
    min-height: 60px;
}

#media-url-input {
    flex-grow: 1;
    margin-right: 20px;
}

button {
    width: 80px;
    /* flex-grow: 1; */
    margin-right: 0px;
}

#select-group {
    /* --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0; */
    width: 100%;
    min-height: 60px;
    display: flex;
    margin: 5px auto;
}


.select-item {
    flex: 1 1 calc(25% - 20px);
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid #000; */
    margin: 5px 10px;
    /* flex-grow: 1; */
}

label {
    margin: auto 10px;
}

select {
    margin: 0px;
    font-size: inherit;
    flex-grow: 1;
}

.download-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#finish-form {
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin: 20px;
}

/* .media-label {
    font-size: 15px;
} */

.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.hr-board {
    border: none;
    border-top: 20px solid #ccc;
    /* margin-top: 50px; */
}


#progress-container {
    margin: 50px auto;
}


.progress-item {
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    height: 100px;
}


.file-info {
    flex-grow: 1;
}

.file-action {
    color: rgb(97, 120, 197)
}

.filename-label {
    flex-grow: 1;
    max-height: 80px;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.5em;
    max-height: 3em;
    position: relative;
}

.progress-sub-item {
    font-size: 10px;
    color: rgb(66, 61, 61);
}

.progress-button {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    flex-shrink: 0
        /* transform: scale(0.5);
    transform-origin: top left; */
}

.circle-bg {
    fill: none;
    stroke: rgb(112, 108, 108);
    stroke-width: 1.5;
    shape-rendering: calc();
    image-rendering: optimizeQuality;
}

.circle-progress {
    fill: none;
    stroke: rgb(61, 226, 61);
    stroke-width: 1.5;
    stroke-linecap: round;
    /* 使圆弧的端点为圆形 */
    transform: rotate(-90deg);
    /* 调整起始位置 */
    transform-origin: center;
    shape-rendering: calc();
    image-rendering: optimizeQuality;


}

.pause-bar {
    fill: rgb(112, 108, 108);
    display: none;

}

.play-triangle {
    fill: rgb(112, 108, 108);
}