html {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 60px;
    text-align: center;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

html {
    background-color: #00539f;
}

body {
    /* width: 600px; */
    min-height: 600px;
    margin: 0 auto;
    background-color: #f0ece6;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;
}

#media-url-form {
    display: flex;
    width: 80%;
    min-height: 100px;
    margin: 30px auto;
    flex-direction: column;
    /* width: 1800; */
    /* justify-content: center; */
}

#url-group {
    display: flex;
    min-height: 60px;
}

#media-url-input {
    flex-grow: 1;
}

button {
    /* width: 50px; */
    flex-grow: 1;
    margin-right: 0px;
}

#select-group {
    /* --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0; */
    width: 100%;
    min-height: 60px;
    display: flex;

    margin: 5px auto;
}


.select-item {
    flex: 1 1 calc(25% - 20px);
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid #000; */
    margin:5px 10px;
    /* flex-grow: 1; */
}

label {
    margin: auto 10px;
}

select {
    margin: 0px;
    font-size: inherit;
    flex-grow: 1;
}

.download-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#video {
    font-size: 30px;
    flex-grow: 1;
}

#speed {
    font-size: 30px;
    width: 100px;
}

#eta {
    font-size: 30px;
    width: 100px
}

#finish-form {
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin: 20px;
}

.media-label {
    font-size: 15px;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.hr-board {
    border: none;
    border-top: 20px solid #ccc;
    /* margin-top: 50px; */
}


#progress-container {
    margin: 50px auto;
}


.progress-item {
    display: flex;
    align-items: center;
}

.title-label {
    width: 60%;
    overflow: hidden;
}

.progress-bar {
    margin: 10px;
    background-color: #a2e7a4;
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    height: 30px;
    margin: 2px, 2px, 0, 30px;
    width: 0;
    background-color: #4caf50;
    transition: width 0.5s ease-in-out;
}